input[type='text'], .MuiInput-input {
    width: 100%;
    margin-bottom: 20px;
}
.MuiInput-input input {
    margin: 0;
}
.second-block {
    transition: all ease 0.3s;
    display: block;
}
.second-block.toggle-open {
    display: block;
}